@font-face {
    font-family: "GREENSHEEP";
    src: url(./../fonts/A\ Love\ of\ Thunder.ttf);
  }

.titulo{
    font-family: "GREENSHEEP";
}

.geneticas {
    background-image: url("./img/ChalasNyB.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }



  .cardItem{
    margin: 10px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carta{
    display: flex;
    justify-content: center;
  }