@font-face {
    font-family: "GREENSHEEP";
    src: url(./../fonts/A\ Love\ of\ Thunder.ttf);
  }

nav {
    font-family: "GREENSHEEP";
    background-color:  rgb(19, 42, 19) ;
}

.navbar-brand img {
    height: 50px;
    transition: all 0.5s;
}

.navbar-brand img:hover {
    transform: rotateY(360deg);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.nav-item{
    align-items: end;
}

.links{
    display: flex; 
    flex-direction:column;
    justify-content: end;
}